<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- STUB head-links.ejs -->
            <%- include ("./0-partials/head-links.ejs") -%>

    </head>

    <body id="page-top">

        <!-- STUB navigation -->
            <%- include ("./0-partials/navigation.ejs") -%>
        
        <!-- STUB masthead -->
            <%- include ("./0-partials/masthead.ejs") -%>

        <!-- STUB services -->
            <%- include ("./0-partials/services.ejs") -%>

        <!-- STUB portfolio grid modals w/ each individual modal to edit -->
            <%- include ("./0-partials/portfolio-grid.ejs") -%>

        <!-- STUB about -->
            <%- include ("./0-partials/about.ejs") -%>

        <!-- STUB testimonials -->
            <%- include ("./0-partials/testimonials.ejs") -%>
        
        <!-- STUB contact-->
            <%- include ("./0-partials/contact.ejs") -%>


        
    </body>
</html>
