<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- STUB head-links -->
        <%- include ("./0-partials/head-links.ejs") -%>

        <title>RM-portafolio</title>
    </head>


    <body>

        <!-- STUB navigation -->
        <%- include ("./0-partials/navigation.ejs") -%>

        <!-- STUB masthead -->
        <%- include ("./0-partials/masthead.ejs") -%>

        <main class="main">

            <!-- STUB show -->
            <%- include ("./0-partials/portfolio-grid.ejs") -%>

            <!-- STUB journey -->
            <%- include ("./0-partials/journey.ejs") -%>

            <!-- STUB skills -->


            <!-- STUB bio -->


            <!-- STUB get in touch -->
            <%- include ("./0-partials/contact.ejs") -%>


        <!-- STUB footer-->
        <%- include ("./0-partials/footer.ejs") -%>

    </main>

    </body>
</html>