<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- STUB head-links -->
        <%- include ("./0-partials/head-links.ejs") -%>

        <title>RM-portafolio</title>
    </head>


    <body>

        <!-- STUB navigation -->
        <%- include ("./0-partials/navigation.ejs") -%>

        <!-- STUB masthead -->
        <%- include ("./0-partials/masthead.ejs") -%>

        <main class="main">

            <!-- STUB portfolio grid modals w/ each individual modal to edit -->
            <%- include ("./0-partials/portfolio-grid.ejs") -%>

            <!-- STUB journey -->
            <%- include ("./0-partials/journey.ejs") -%>

        </main>

        <!-- STUB footer-->
        <%- include ("./0-partials/footer.ejs") -%>



    </body>
</html>